.exp-blk {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 2px 4px 11px 5px #a660fe1a;
}

.space-blk{
    margin-bottom: 20px;
}

.each-blog img{
    max-width:100%;
    margin-bottom: 20px;
}

.btn-links{
    color:#b66dff;
    text-decoration:underline;
}
a.btn-links {
    color: #b66dff !important;
    cursor: pointer;
}
.pic-name-box {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 2px 4px 11px 5px #a660fe1a;
    display: flex;
    flex-wrap: wrap;
}
.pic-name-box .parts{
    padding: 0px 5px 15px;
    width: 33.33%;
    text-align: center;
}
.pic-name-box .parts img{
    width:80px;
    max-width:100%;
    border-radius: 50%;
}

.pic-name-box .parts .name{
    color: #000;
    margin: 10px 0 0 0;
    text-transform: capitalize;
    font-family: "ubuntu-medium", sans-serif;
    font-size: 14px;
}
.right-side-sec{
    padding-top: 18px;
    padding-left: 16px;
}
.name{cursor: pointer;}
.loader-cus {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.loader-cus img {
    max-width: 90px;
    margin-left: 15%;
}
.empty-blog {
    margin-top: 30px;
}
