.loader-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
    font-size: 52px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
} 
.loader-icon img {
    max-width: 102px;
}

.exp-blk {
    background: #fff;
    padding: 20px 20px;
    box-shadow: 2px 4px 11px 5px #a660fe1a;
}

.space-blk{
    margin-bottom: 20px;
}

.each-blog img{
    max-width:100%;
    margin-bottom: 20px;
}
.pos-rel{
    position: relative;
}
p.card-p {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    background: linear-gradient(to right, #da8cff, #9a55ff);
}
h4.card-h {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
}
.exp-blk.exp-cus {
    padding: 0;
    cursor: pointer;
    height: 43px;
    line-height: 45px;
}
button.approve-rgt.btn.btn-primary.my-pre {
    position: absolute;
    right: 0;
    top: 0;
}